<div class='col-lg-6'>
  <div class='well'>

  <!-- WRITE THE CORRECT FORM HEADER AND BLOCK USING ERB -->
  <% if !@comic.nil? %>
    <% if @comic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

        <ul>
        <% @comic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% else %>
        <h2>Comic successfully added!</h2>
    <% end %>
<% end %>
    <form action="/create">
        <div class="form-group">
          <label for="Title">Comic Book Title:</label>
          <input type="text" name="title" class="form-control" placeholder="Enter the title here">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" name="description" class="form-control" placeholder="Enter the description here">
        </div>
        <div class="form-group">
          <label for="imageurl">Image URL:</label>
          <input type="text" name="image" class="form-control" placeholder="Enter the image URL here">
        </div>
        <div class="actions">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>


  </div>
</div>
